.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 0;

  .list {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 161.5px;
    padding: 9.5px 33px 25.5px 33px;
    background-color: var(--bg);
    border: 1px solid var(--main-border);
    border-radius: 10px;

    @media screen and (max-width: 680px) {
      top: auto;
      bottom: 100%;
    }

    .item {
      &:hover {
        cursor: pointer;

        a {
          color: var(--link);
        }

        .country {
          .image {
            border-color: var(--link);
          }
        }
      }

      .country {
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 22.5px 0 17.5px 0;
        color: var(--main-font);
        font-weight: 300;
        font-size: 16px;
        font-family: Turbine-Light, sans-serif;
        line-height: 13px;
        letter-spacing: 0.8px;
        white-space: nowrap;
        text-decoration: none;

        .image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25.5px;
          height: 25.5px;
          overflow: hidden;
          border: 1px solid transparent;
          border-radius: 50%;
          cursor: pointer;

          .flag {
            width: 15px;
            height: 15px;
            overflow: hidden;
            border-radius: 50%;

            svg {
              width: auto;
              height: 15px;
              transform: translateX(-3.5px);
            }
          }
        }

        &.active {
          .image {
            border-color: var(--link);
          }
        }

        &:hover {
          color: var(--link);
        }
      }

      a {
        color: black;
        font-weight: bold;
        font-size: 14px;
        font-family: Turbine-Bold, sans-serif;
        text-decoration: none;

        .coming_soon {
          position: absolute;
          top: 7px;
          left: 6px;
          font-weight: 400;
          font-size: 8px;
          font-family: Turbine-Regular, sans-serif;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--main-border);
      }
    }
  }
}
