.container {
  flex-grow: 2;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  flex-grow: 2;
  padding: 80px 58px 40px;

  @media screen and (max-width: 1540px) {
    max-width: calc(100% - 40px);
  }

  @media screen and (max-width: 680px) {
    padding: 12.5px 0 100px;
    padding-right: 0px;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 139px 0 63.5px 0;
    font-family: Graphik-Semibold, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;

    .link {
      display: none;
      color: white;
      text-decoration: none;
      align-items: center;
      gap: 17.3px;

      img {
        transform: rotate(180deg);
        height: 14.6px;
      }
    }

    @media screen and (max-width: 920px) {
      font-size: 25px;
      line-height: normal;
    }

    @media screen and (max-width: 680px) {
      font-size: 20px;
      line-height: normal;
      padding: 75px 0 32px 0;

      .text {
        display: none;
      }

      .link {
        display: flex;
      }
    }
  }

  .title {
    font-family: Graphik-Semibold, sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    padding: 0 0 205.5px 0;

    @media screen and (max-width: 920px) {
      font-size: 62.5px;
      line-height: normal;
    }

    @media screen and (max-width: 680px) {
      font-size: 46.6px;
      max-width: 290px;
      padding: 0 0 60px 0;

      br {
        display: none;
      }
    }
  }

  .content {
    font-family: Graphik-Regular;
    font-weight: 400;
    font-size: 20px;

    @media screen and (max-width: 680px) {
      font-family: Graphik-Semibold, sans-serif;
      font-size: 26.6px;
      font-weight: 600;
      padding: 0 12px;
    }
  }

  .btn_to_top {
    padding: 0;
    margin: 222.33px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.7);
    }

    img {
      width: 87.33px;
      height: 87.33px;
    }
  }
}
