.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1268px;
  color: var(--font);

  .news {
    flex: 1;
    margin-bottom: 82px;
    padding: 170.5px 0 0 0;

    .news_cld {
      display: flex;
      flex-direction: column;
      gap: 26px;

      .title {
        margin: 0;
        color: #747474;
        font-weight: normal;
        font-size: 20px;
        font-family: Turbine-Regular, sans-serif;
        letter-spacing: 1px;
      }

      .text {
        color: var(--link-hover);
        font-weight: normal;
        font-size: 25px;
        font-family: Turbine-Regular, sans-serif;
        letter-spacing: 1.25px;
        cursor: pointer;

        &:hover {
          color: var(--link);
        }
      }
    }
  }
}
