.options_value {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  &__body {
    display: flex;
    gap: 10px;
  }
}

.checked {
  display: flex;
  align-items: center;
}