.map {
  position: relative;
  height: 4483px;
  width: 100%;

  @media screen and (max-width: 1560px) {
    height: 2644px;
  }

  @media screen and (max-width: 1270px) {
    height: 2153px;
  }

  @media screen and (max-width: 660px) {
    height: 2814px;
  }

  .item {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;

    .scaleAnimation {
      transition: 0.1s ease-in;

      &:hover {
        transform: scale(1.05);
      }
    }

    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      .button {
        cursor: pointer;
        white-space: nowrap;
        color: var(--Primary-Black, #000);
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-size: 26px;
        font-weight: 600;
        display: inline-flex;
        width: 340px;
        height: 106px;
        justify-content: center;
        align-items: center;
        border-radius: var(--Spacing-4, 16px);
        background: var(
          --Gradient-P0,
          linear-gradient(262deg, #ffbaf3 11.2%, #fff1d4 50.33%, #8bf3fc 90.29%)
        );

        @media screen and (max-width: 1560px) {
          width: 207px;
          height: 64px;
          font-size: 16px;
        }

        @media screen and (max-width: 1270px) {
          width: 168px;
          height: 52px;
          font-size: 13px;
        }

        @media screen and (max-width: 660px) {
          width: 222px;
          height: 66px;
          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 1560px) {
    height: 2644px;
  }

  @media screen and (max-width: 1270px) {
    height: 2153px;
  }
}
