.section {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 50px;
  max-width: 1320px;
  padding: 180px 0px;

  @media screen and (max-width: 1320px) {
    gap: 30px;
    // grid-template-columns: 1fr 1fr;
    padding: 80px 40px;
    overflow-x: auto;
    overflow-y: scroll;
  }
  @media screen and (max-width: 100px) {
    // grid-template-columns: 1fr;
    max-width: 1000px;
  }

  .item {
    color: #939393;
    font-size: 30px;
    line-height: 40px;
    min-width: 200px;
    @media screen and (max-width: 1320px) {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      line-height: 26.66px;
      font-size: 20px;
    }
  }
}
