.peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 313px;

  .header {
    margin: 0;
    padding-bottom: 110.5px;
    color: rgba(150, 150, 150, 0.9);
    font-size: 30px;
    font-family: IBMPlexMono-Regular, sans-serif;
    line-height: 22px;
    opacity: 0.9;
  }

  .title {
    margin: 0;
    padding-bottom: 74px;
    color: #fff;
    font-size: 200px;
    font-family: Gilroy-SemiBold, sans-serif;
    line-height: 175px;
  }

  .links {
    display: flex;
    gap: 23px;
    padding-top: 132.5px;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 195px;
      height: 60px;
      color: black;
      font-size: 18px;
      font-family: Gilroy-Bold, sans-serif;
      letter-spacing: 1.8px;
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 5px;

      &.large {
        width: 317px;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
        background-color: black;
        border-color: #fff;
        cursor: pointer;
      }
    }
  }
}
