.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  .modal {
    position: relative;
    width: 100%;
    max-width: 1170px;
  
    .close {
      position: absolute;
      top: -50px;
      right: -60px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .mobile_close {
      right: 0;
    }
  
    .close:hover {
      opacity: 0.5;
    }
  
    .close:before,
    .close:after {
      position: absolute;
      left: 15px;
      width: 2px;
      height: 33px;
      background-color: white;
      content: ' ';
    }

    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }

  .modal iframe {
    display: block;
  }
}

.modalOpen {
  overflow: hidden;
}