.container {
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background: var(--bg);
  max-width: 980px;

  hr {
    height: 1px;
    width: calc(100% + 36px);
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0 -15px 20px -21px;
  }
}

.wrapper {
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright_container {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  gap: 24px;

  @media screen and (max-width: 880px) {
    font-size: 10px;
  }
}

.peerLogo {
  width: 49px;
}
