.container {
  display: flex;
  justify-content: space-between;
  padding: 56px 126.75px 100px 0;
  max-width: 1543.5px;
  margin: auto;
  border-top: solid 1px rgba(255, 255, 255, 0.20);

  @media screen and (max-width: 1440px) {
    max-width: 1157px;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding: 64px 0 0;
    margin: 0 20px 32.2px;
    gap: 64px;
    text-align: center;
  }

  .left_column {
    display: flex;
    gap: 28.5px;
    flex-direction: column;

    &__logo {
      width: 121.5px;

      @media screen and (max-width: 480px) {
        width: 162px;
      }
    }

    &__links {
      display: flex;
      gap: 24px;
      align-items: center;


      @media screen and (max-width: 480px) {
        gap: 56px;
        margin: auto;
      }

      svg {
        @media screen and (max-width: 1440px) {
          transform: scale(0.8);
        }

        @media screen and (max-width: 480px) {
          transform: scale(1.5);
        }
      }
    }
  }

  .right_column {
    display: flex;
    flex-direction: column;
    gap: 27px;

    @media screen and (max-width: 480px) {
      gap: 24px;
    }

    &__heading {
      color: #FFF;
      font-family: IBMPlexMono-Medium, monospace;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.54px;
      text-transform: uppercase;

      @media screen and (max-width: 480px) {
        line-height: 24px;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;

      color: #B6B6B6;
      font-family: Monument Extended, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 43.5px;

      @media screen and (max-width: 480px) {
        line-height: 50px;
      }

      &:hover {
       text-decoration: none;
      }
    }
  }
}
