.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 165px 48.8px 0 48.8px;
  max-width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 1560px) {
    padding: 133px 48.8px 0 48.8px;
  }

  @media screen and (max-width: 1270px) {
    padding: 66px 39.7px 0 39.7px;
  }

  @media screen and (max-width: 680px) {
    padding: 90px 24px 0 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 78px 0;
    width: 100%;

    @media screen and (max-width: 1440px) {
      padding: 51px 0 128px 0;
    }

    @media screen and (max-width: 900px) {
      padding: 28px 0 133px 0;
    }
  }
}
