.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  max-width: 1546px;
  margin: 0 auto;

  @media screen and (max-width: 1920px) {
    padding: 0 187.5px;
  }

  @media screen and (max-width: 1440px) {
    padding: 0 151px;
  }

  @media screen and (max-width: 680px) {
    padding: 0 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 78px 0;
    width: 100%;

    @media screen and (max-width: 1440px) {
      padding: 51px 0 128px 0;
    }

    @media screen and (max-width: 900px) {
      padding: 28px 0 133px 0;
    }
  }
}
