.text {
  margin: 0;
  color: #fff;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 48px;
  width: 100%;
  max-width: 912px;

  @media screen and (max-width: 1440px) {
    max-width: 760px;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 36px;
  }

  @media screen and (max-width: 900px) {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 64px;
  }
}

.title {
  margin: 0;
  color: #fff;
  font-family: Gilroy, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  padding-bottom: 48px;
  width: 100%;
  max-width: 912px;

  @media screen and (max-width: 1440px) {
    font-size: 31px;
    line-height: 27px;
    padding-bottom: 36px;
    max-width: 760px;
  }

  @media screen and (max-width: 900px) {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 32px;
  }
}

.image {
  margin: 42px 0 90px 0;
  width: 100%;
  height: 768px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;

  @media screen and (max-width: 1440px) {
    margin: 24px 0 76px 0;
    height: 576px;
  }

  @media screen and (max-width: 900px) {
    margin: -32px 0 32px 0;
    height: 163px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  max-width: 912px;
  padding: 0 0 48px 34px;

  @media screen and (max-width: 1440px) {
    gap: 27px;
    padding: 0 0 36px 32px;
    max-width: 760px;
  }

  @media screen and (max-width: 900px) {
    gap: 28px;
    padding: 0 0 20px 34px;
  }

  .item {
    color: #fff;
    font-family: Gilroy, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    list-style-type: disc;

    @media screen and (max-width: 1440px) {
      font-size: 18px;
      line-height: 27px;
    }

    @media screen and (max-width: 900px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}
