.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1263px;
  padding: 0 39px;
  padding-bottom: 55.5px;
  padding-left: 100px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    padding: 0 30px 0 21px;
  }

  .item {
    display: flex;
    gap: 51px;
    align-items: center;

    @media screen and (max-width: 768px) {
      gap: 27px;
    }

    .icon {
      width: 83.5px;

      @media screen and (max-width: 768px) {
        width: 90px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .content {
      .info {
        padding-bottom: 15px;
        color: #939393;
        font-weight: 400;
        font-size: 19.2px;
        font-family: Gilroy-Regular, sans-serif;
        font-style: normal;
        line-height: 23.04px;
        letter-spacing: 0.96px;

        @media screen and (max-width: 768px) {
          max-width: 200px;
          font-size: 20px;
          line-height: 22px; /* 110% */
        }
      }

      .link {
        display: flex;
        gap: 19px;
        align-items: center;
        width: fit-content;
        color: #ffffff;
        font-weight: 400;
        font-size: 24.8px;
        font-family: Gilroy-Regular;
        font-style: normal;
        line-height: 30.72px; /* 123.871% */

        @media screen and (max-width: 768px) {
          font-size: 22px;
          line-height: 30px; /* 136.364% */
        }

        &:hover {
          color: var(--main-link-hover);
          text-decoration: none;
        }
      }
    }
  }
}
