.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1263px;
  padding: 0 39px;
  padding-bottom: 55.5px;
  padding-left: 100px;

  .item {
    display: flex;
    gap: 51px;
    align-items: center;

    .icon {
      width: 83.5px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .content {
      .info {
        padding-bottom: 15px;
        color: #939393;
        font-weight: 400;
        font-size: 19.2px;
        font-family: Gilroy-Regular, sans-serif;
        font-style: normal;
        line-height: 23.04px;
        letter-spacing: 0.96px;
      }

      .link {
        display: flex;
        gap: 19px;
        align-items: center;
        width: fit-content;
        color: #ffffff;
        font-weight: 400;
        font-size: 24.8px;
        font-family: Gilroy-Regular;
        font-style: normal;
        line-height: 30.72px; /* 123.871% */

        &:hover {
          color: var(--main-link-hover);
          text-decoration: none;
        }
      }
    }
  }
}
