.container {
  position: relative;
  cursor: pointer;
  .dropdown {
    position: absolute;
    top: 30px;
    right: calc(2.5vw - 24.33px);
    display: none;
    width: 95vw;
    color: white;
    background-color: black;
    border: 1px solid #555555;
    border-radius: 6.66px;

    .accordion {
      border-bottom: 1px solid #2e2e2e;

      .accordionHeader {
        padding: 0 3px;
        &:hover {
          color: var(--main-font-hover);
        }

        .mui_typography {
          font-size: 20px;
          font-family: Turbine-Regular, sans-serif;
        }
      }

      .link {
        display: block;
        color: white;
        text-decoration: none;
        &:hover {
          color: var(--main-font-hover);
        }
        
        .clicked {
          color: #00d3f9;
        }
      }
      

      .details {
        .mui_details_typography {
          font-size: 18.66px;
          font-family: Turbine-Regular, sans-serif;

          .link_wrapper {
            display: flex;
            gap: 18px;
            align-items: center;
          }
        }

        &:hover {
          color: var(--main-font-hover);
        }
      }
    }

    .accordion:first-child {
      border-radius: 6.66px 6.66px 0 0;
      .accordionHeader {
        border-radius: 6.66px 6.66px 0 0;
      }
    }
    .accordion:last-child {
      border-radius: 0 0 6.66px 6.66px;

      .accordionHeader {
        border-radius: 0 0 6.66px 6.66px;
      }

      .details:last-child {
        border-radius: 0 0 6.66px 6.66px;
      }
    }
  }

  .openSection {
    border-radius: 0px;
  }

  &.isShow {
    .dropdown {
      display: block;
      padding: 0 25px;
    }
  }
}
