.page_wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  .side_image_wrapper {
    position: absolute;
    top: -2%;
    right: -47%;
    width: 100%;
    max-width: 1800px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 1540px) {
      top: -90px;
      right: -900px;
    }
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .side_image_wrapper_mobile {
    position: absolute;
    top: -60px;
    right: -84%;
    width: 150%;
    max-width: 1800px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  .footer_image_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      max-width: 2400px;
      height: auto;
    }
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .footer_image_wrapper_mobile {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -54px;
    transform: translateY(50%);
    left: -130%;
    width: 270%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  .container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    flex-grow: 2;
    margin-bottom: 1100px;
  
    @media screen and (max-width: 1540px) {
      max-width: calc(100% - 40px);
    }
    @media screen and (max-width: 1540px) {
      margin-bottom: 700px;
    }
    @media screen and (max-width: 920px) {
      margin-bottom: 600px;
    }
  }
}
