.start_state {
  position: relative;
  opacity: 0;

  &.default {
    transition: all 0.38s ease 0.3s;
    transform: translateY(60px) scale(0.8);
  }

  &.fadein {
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
  }

  &.fadein_up {
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: all 1.5s cubic-bezier(0.35, 1, 0.45, 1) 0.5s;
    transform: translateY(60px);
  }
}

.visible {
  &.default {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }

  &.fadein {
    opacity: 1;
  }

  &.fadein_up {
    opacity: 1;
    transform: translateY(0px);
  }
}
