.section {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .heading {
    font-family: Graphik-Light;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color: #202020;
  }

  .logo_image {
    width: 155px;
  }
}
