.container {
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background: var(--bg);

  .terms_container {
    display: flex;
    gap: 67px;
    font-size: 16px;
    align-items: center;

    .links {
      display: flex;
      gap: 36px;
      color: #FFF;
      font-family: Gilroy-Regular, sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }

    a {
      color: #FFF;

      @media screen and (max-width: 880px) {

      }

      &:hover {
        color: var(--main-link-hover);
      }
    }
  }

  .right_container {
    color: #FFF;
    font-family: IBMPlexMono-Bold, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    .socials {
      transform: translateX(7px);
      display: flex;
      gap: 25px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;

      @media screen and (max-width: 880px) {

      }

      &:hover {
        color: var(--main-link-hover);
      }

      svg {
        transform: scale(0.6);
      }
    }
  }
}

.peerLogo {
  width: 49px;
}

.copyright_container {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  gap: 24px;
}
