.link_wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .link {
    display: block;
    text-decoration: none;
    color: var(--font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-family: MonumentExtended, sans-serif;
  }
}
