.peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 245px;

  @media screen and (max-width: 768px) {
    padding-top: 74.33px;
  }

  .title {
    margin: 0;
    padding-bottom: 94px;
    color: #fff;
    font-weight: 500;
    font-size: 80px;
    font-family: Gilroy, sans-serif;
    line-height: 1.25;
    text-align: center;

    @media screen and (max-width: 560px) {
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 78px;
      font-size: 53px;
    }
  }
}
