.container {
    color: var(--Primary-White, #FFF);
    font-family: Gilroy, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 25px;
}