@font-face {
  font-family: 'ACaslonPro-Regular';
  src: url('../ACaslonPro/ACaslonPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ACaslonPro-SemiBold';
  src: url('../ACaslonPro/ACaslonPro-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'ACaslonPro-Bold';
  src: url('../ACaslonPro/ACaslonPro-Bold.otf') format('opentype');
}
