.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 507.75px;
  max-width: 1547px;
  margin: 0 auto;

  @media screen and (max-width: 1920px) {
    padding: 0 188.25px;
  }

  @media screen and (max-width: 1440px) {
    padding: 0 151px;
  }

  @media screen and (max-width: 680px) {
    padding: 0 24px;
  }

  .space {
    gap: 64px;

    @media screen and (max-width: 900px) {
      gap: 24px;
    }
  }

  .row {
    gap: 36px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      gap: 24px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 114px 0;

    .primary {
      color: var(--Primary-White, #fff);
      font-family: 'IBMPlexMono-Medium';
      font-size: 18px;
      font-style: normal;
      line-height: 18px;
      letter-spacing: -0.54px;
      text-transform: uppercase;
      display: inline-flex;
      padding: 25.5px 36px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 18px;
      background: var(--Neutrals-Gray-800, #1c1c1d);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
