.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-in;
  &.hidden {
    transform: translateY(-170%);
    transition: transform 0.3s ease-in;
  }
  &.bg {
    backdrop-filter: saturate(180%) blur(20px);
  }
  .main_container {
    width: 100%;
    // max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    padding: 25px 45.5px 25px 33.5px;

    @media screen and (max-width: 1540px) {
      // max-width: calc(100% - 40px);
    }

    @media screen and (max-width: 900px) {
      padding: 18px 12.66px 18px 12.66px;
      height: 60px;
    }

    .left_container {
      display: flex;
      align-items: center;

      .logo_container {
        margin-right: 24px;
        display: flex;
      }

      .select_container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .select_title {
          font-family: BallingerMono-Light, sans-serif;
          font-size: 16.25px;
          color: var(--main-font);
          margin-right: 6px;
        }

        .arrow {
          display: flex;
          padding-top: 3px;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      max-width: 465px;
      padding: 0 15px;
      margin-right: 40px;
    
      @media screen  and (max-width: 1000px) {
        max-width: 100%;
        gap: 0;
        margin-right: 0px;        
      }

   
      .nav_item {
        position: relative;
        font-family: BallingerMono-Light, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.9px;
        color: var(--main-font);
        text-decoration: none;
        transition: .3s;
        line-height: 45px;
        cursor: pointer;
        letter-spacing: 2.8px;

        @media screen and (max-width: 679px) {
          font-size: 10.66px;
        }

        a {
          color: var(--main-font);
          text-decoration: none;
          transition: .3s;

          &:hover {
            color: var(--main-font-hover);
          }
        }

      

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--main-font-hover);
          transition: width .3s;
        }

  

        &:hover { 
          color: var(--main-font-hover);

          .nav_list {
            display: flex;
          }

          &:after {
            width: 100%;
          }
        }

        .nav_list {
          position: absolute;
          display: none;
          flex-direction: column;
          border-radius: 10px;
          padding: 9.5px 33px 25.5px 33px;
          border: 1px solid var(--main-border);
          background-color: var(--bg);
          top: 100%;
          left: -33px;
          min-width: 255px;


          @media screen and (max-width: 679px) {
            padding: 9.5px 24px 25.5px 24px;
            left: -150%;
          }

          .link {
            display: flex;
            align-items: center;
            gap: 13px;
            letter-spacing: 2.8px;

          }

          .desc {
            font-size: 14px;
            letter-spacing: 2.8px;
            color: #959595;

            @media screen and (max-width: 679px) {
              font-size: 12px;
            }
          }

          a {
            line-height: 13px;
            font-family: BallingerMono-Light, sans-serif;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.8px;
            color: var(--main-font);
            padding: 22.5px 0 17.5px 0;
            white-space: nowrap;
            text-decoration: none;

            @media screen and (max-width: 679px) {
              font-size: 12px;
              padding: 14px 0 17.5px 0;

            }

            &:not(:last-child) {
              border-bottom: 1px solid var(--main-border);
            }

            &:hover {
              color: var(--link);
            }
          }
        }
      }

      .open {
        .nav_list {
          display: flex;
        }

        &:after {
          width: 100%;
        }
      }

    }

    .right_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text_link {
        font-family: BallingerMono-Light, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: var(--main-font);
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        min-width: 60px;
        margin-right: 30px;

        &:hover {
          color: var(--main-font-hover);
        }
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background-color: var(--main-font-hover);
          transition: width .3s;
        }


        &:hover::after {
          width: 100%;
        }

        @media screen and (max-width: 679px) {
          margin-right: 46px;
          font-size: 14.66px;
          min-width: 0;
        }
      }

      .theme_selector {
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 36px;
        cursor: pointer;
      }

      .button {
        width: 162.5px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--main-font);
        font-family: BallingerMono-Light, sans-serif;
        font-size: 16.25px;
        color: var(--bg);
        margin-right: 76px;
        white-space: nowrap;
        cursor: pointer;
        margin-right: 36px;
      }

      .flag_button {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid .5px #e2e2e2;
        cursor: pointer;

        .flag_icon {
          overflow: hidden;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          
          .icon {
            width: auto;
            height: 27px;
            transform: translateX(-15%);
          }
        }
      }
    }
  }
}


      
