.container {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #000000;
  transition: transform 0.3s ease-in;
  &.hidden {
    transform: translateY(-170%);
    transition: transform 0.3s ease-in;
  }
  &.bg {
    backdrop-filter: saturate(180%) blur(20px);
  }
  .main_container {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 25px 45.5px 25px 33.5px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      height: 90px;
      padding: 18px 12.66px 18px 12.66px;
    }

    @media screen and (max-width: 375px) {
      padding-top: 12px;
    }

    &:after {
      position: absolute;
      top: 80%;
      right: 0px;
      left: 0px;
      height: 50px;
      background: linear-gradient(180deg, #0c0c0c 0%, rgba(0, 0, 0, 0) 100%);
      content: '';
    }

    .left_container {
      display: flex;
      align-items: center;

      @media screen and (max-width: 900px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 680px) {
        margin-bottom: 15px;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 10px;
      }

      .logo_container {
        display: flex;
        gap: 33px;
        align-items: center;
        margin-right: 24px;
        text-decoration: none;
      }

      .peerLogo {
        width: 159px;

        @media screen and (max-width: 680px) {
          width: 100px;
        }
      }

      .select_container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .select_title {
          margin-right: 6px;
          color: var(--main-font);
          font-size: 16.25px;
          font-family: BallingerMono-Light, sans-serif;
        }

        .arrow {
          display: flex;
          padding-top: 3px;
        }
      }
    }

    .nav {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      width: 100%;
      max-width: 465px;
      margin-right: 40px;
      padding: 0 15px;

      .open {
        .nav_list {
          display: flex;
        }

        &:after {
          width: 100%;
        }
      }
    }

    .nav_item {
      position: relative;
      color: var(--main-font);
      font-weight: 700;
      font-size: 20px;
      font-family: BallingerMono-Light, sans-serif;
      line-height: 45px;
      letter-spacing: 0.9px;
      letter-spacing: 2.8px;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;

      @media screen and (max-width: 680px) {
        font-weight: 700;
        font-size: 13.5px;
        line-height: 20px;
        letter-spacing: 1.892px;
      }

      @media screen and (max-width: 360px) {
        font-size: 12px;
        line-height: 16px;
      }

      a {
        color: var(--main-font);
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: var(--main-font-hover);
        }
      }

      &::after {
        display: block;
        width: 0;
        height: 2px;
        background: var(--main-font-hover);
        transition: width 0.3s;
        content: '';
      }

      &:hover {
        color: var(--main-font-hover);

        .nav_list {
          display: flex;
        }

        &:after {
          width: 100%;
        }
      }

      .nav_list {
        position: absolute;
        top: 100%;
        left: -33px;
        display: none;
        flex-direction: column;
        min-width: 255px;
        padding: 9.5px 33px 25.5px 33px;
        background-color: var(--bg);
        border: 1px solid var(--main-border);
        border-radius: 10px;

        @media screen and (max-width: 679px) {
          left: -150%;
          padding: 9.5px 24px 25.5px 24px;
        }

        .link {
          display: flex;
          gap: 13px;
          align-items: center;
          letter-spacing: 2.8px;
        }

        .desc {
          color: #959595;
          font-size: 14px;
          letter-spacing: 2.8px;

          @media screen and (max-width: 679px) {
            font-size: 12px;
          }
        }

        a {
          padding: 22.5px 0 17.5px 0;
          color: var(--main-font);
          font-weight: 300;
          font-size: 14px;
          font-family: BallingerMono-Light, sans-serif;
          line-height: 13px;
          letter-spacing: 0.8px;
          white-space: nowrap;
          text-decoration: none;

          @media screen and (max-width: 679px) {
            padding: 14px 0 17.5px 0;
            font-size: 12px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--main-border);
          }

          &:hover {
            color: var(--link);
          }
        }
      }
    }

    .right_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text_link {
        min-width: 60px;
        margin-right: 30px;
        color: var(--main-font);
        font-weight: normal;
        font-size: 14px;
        font-family: BallingerMono-Light, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: var(--main-font-hover);
        }
        &::after {
          display: block;
          width: 0;
          height: 2px;
          background-color: var(--main-font-hover);
          transition: width 0.3s;
          content: '';
        }

        &:hover::after {
          width: 100%;
        }

        @media screen and (max-width: 679px) {
          min-width: 0;
          margin-right: 46px;
          font-size: 14.66px;
        }
      }

      .theme_selector {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        margin-right: 36px;
        cursor: pointer;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 162.5px;
        height: 42px;
        margin-right: 76px;
        margin-right: 36px;
        color: var(--bg);
        font-size: 16.25px;
        font-family: BallingerMono-Light, sans-serif;
        white-space: nowrap;
        background-color: var(--main-font);
        border-radius: 10px;
        cursor: pointer;
      }

      .flag_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        border: solid 0.5px #e2e2e2;
        border-radius: 50%;
        cursor: pointer;

        .flag_icon {
          width: 27px;
          height: 27px;
          overflow: hidden;
          border-radius: 50%;

          .icon {
            width: auto;
            height: 27px;
            transform: translateX(-15%);
          }
        }
      }
    }
  }
}
