.container {
  position: relative;
  width: 100%;
  margin-bottom: 60.5px;

  .input {
    width: 100%;
    padding: 30px 63.5px 30px 33px;
    color: var(--font);
    font-size: 20px;
    background-color: var(--main-bg);
    background-image: url('../../../../assets/searchbargfx.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 86.5px;
    border: 1px solid #9f9f9f;
    border-radius: 85.5px;

    @media screen and (max-width: 600px) {
      height: 56px;
      background-image: url('../../../../assets/graphicmobile.png');
      background-size: 100% 62px;
    }
  }

  .active {
    &:focus {
      border: 3px solid #0096ff;
    }
  }

  .emptyActive {
    &:focus {
      border: 1px solid #0096ff;
    }
  }

  .search_icon_container {
    position: absolute;
    top: 28px;
    right: 33.5px;
    width: 30.5px;
    height: 30.5px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      top: 50%;
      width: 20.33px;
      height: 20.33px;
      transform: translate(0, -50%);
    }

    .seacrh_icon {
      filter: invert(1);
    }
  }
  .dark {
    background-image: url('../../../../assets/darkmodebg.png');

    @media screen and (max-width: 600px) {
      background-size: 75% 100%;
    }
  }
}
