.qr_code_wrapper {
  width: 100%;
  max-width: 516px;
  min-width: 320px;
  background: #222;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px 32px;
  background: #222;

  .code_container {
    border-radius: 20px;
    padding: 15px;
    max-width: 248px;
    width: 100%;
    margin-bottom: 32px;
    background: linear-gradient(262deg, #ffbaf3 11.2%, #fff1d4 50.33%, #8bf3fc 90.29%);
  }
}

.close {
  top: -110px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
  background: #4c4c4c;
  border-radius: 10px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.description {
  color: #fff;
  text-align: center;
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 26px;
}

.store_links_container {
  display: flex;
  justify-content: center;
  gap: 16px;

  .store_link {
    width: 169px;
    height: auto;
    text-decoration: none;

    img {
      width: 100%;
    }
  }
}
