.container {
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background: var(--bg);
  max-width: 980px;

  .right_container {
    color: #fff;
    font-family: IBMPlexMono-Bold, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.5;

    @media screen and (max-width: 880px) {
      font-size: 14px;
    }
  }

  hr {
    height: 1px;
    width: calc(100% + 36px);
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0 -15px 20px -21px;
  }
}

.wrapper {
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.peerLogo {
  width: 49px;
}

.copyright_container {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  gap: 24px;

  @media screen and (max-width: 880px) {
    font-size: 10px;
  }
}

.copyright {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.terms {
  display: flex;
  gap: 16px;
  color: #fff;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  a {
    color: #fff;
    &:hover {
      color: var(--main-link-hover);
    }
  }
}

.container_mobile {
  padding: 37px 31px 62px;

  @media screen and (max-width: 680px) {
    padding: 0 0 100px;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-right: 35px;
    margin-left: 35px;
  }

  .line_wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    width: 100%;
    padding-right: 12px;
  }
}

.wrapper_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 35px;
}

.socials {
  display: flex;
  gap: 34px;
}

.button {
  position: fixed;
  bottom: 32px;
  margin: 5% 40px;
  margin-left: 35px;
  left: 0;
  right: 0;
}

.social_container {
  color: #fff;

  .socials {
    transform: translateX(7px);
    display: flex;
    gap: 25px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    @media screen and (max-width: 880px) {
    }

    &:hover {
      color: var(--main-link-hover);
    }

    svg {
      transform: scale(0.6);
    }
  }
}
