.scroll {
  body {
    overflow: hidden;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  .modal {
    width: 100%;
    max-width: 1170px;
  }

  .modal iframe {
    display: block;
  }
}
