.container {
  padding: 117px 0;
  border-bottom: 1px solid #252525;
  gap: 30.5px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (max-width: 520px) {
    max-width: calc(100% - 40px);
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1600px) {
      align-items: center;
    }

    @media screen and (max-width: 1160px) {
      flex-direction: column;
    }

    .col {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1600px) {
        min-width: 440px;
      }

      @media screen and (max-width: 520px) {
        min-width: 0;
      }

      .title {
        font-family: Graphik-Medium;
        font-weight: 600;
        font-size: 100px;
        margin: 152.5px 0 62px 0;
        line-height: 0.9;
        padding-left: 58px;

        @media screen and (max-width: 1160px) {
          padding-left: 0;
        }

        @media screen and (max-width: 520px) {
          font-size: 70px;
        }
      }

      .text {
        font-family: Graphik-Regular;
        margin: 0 0 129px 0;
        line-height: 1.6;
        font-size: 20px;
        padding-left: 58px;

        @media screen and (max-width: 1160px) {
          padding-left: 0;
        }

        @media screen and (max-width: 520px) {
          font-size: 16px;
          margin-bottom: 62px;
        }

        &:last-child {
          margin-bottom: 182.5px;

          @media screen and (max-width: 1160px) {
            margin-bottom: 62px;
          }
        }
      }

      img {
        height: auto;
        width: auto;
        max-height: 802px;
        max-width: 100%;
        right: -100px;
        position: relative;

        @media screen and (max-width: 1600px) {
          right: 0;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
