.container {
  padding: 117px 0;
  border-bottom: 1px solid #252525;
  gap: 30.5px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (max-width: 1500px) {
    // max-width: calc(100% - 70px);
  }

  @media screen and (max-width: 960px) {
    padding: 88.5px 0 65px 0;
  }
  @media screen and (max-width: 680px) {
    padding: 20px 0 65px 0;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .col {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1600px) {
        min-width: 440px;
        justify-content: center;
      }

      @media screen and (max-width: 1160px) {
        min-width: 50%;
      }

      @media screen and (max-width: 960px) {
        min-width: 100%;
      }

      .title {
        font-family: Graphik-Semibold, sans-serif;
        font-weight: 600;
        font-size: 100px;
        margin: 152.5px 0 62px 0;
        line-height: 0.9;
        padding-left: 58px;

        @media screen and (max-width: 1160px) {
          padding-left: 0;
        }

        @media screen and (max-width: 960px) {
          margin: 0 0 62px 0;
        }
        @media screen and (max-width: 680px) {
          font-size: 65px;
          padding-left: 6px;
          margin-bottom: 27px;
        }
      }

      .text {
        font-family: Graphik-Regular;
        margin: 0 0 129px 0;
        line-height: 1.6;
        font-size: 20px;
        padding-left: 58px;

        br {
          @media screen and (max-width: 580px) {
            display: none;
          }
        }

        @media screen and (max-width: 1160px) {
          padding-left: 0;
        }

        @media screen and (max-width: 960px) {
          margin: 0 0 97px 0;
        }

        @media screen and (max-width: 680px) {
          font-size: 14px;
          max-width: 200px;
          margin-bottom: 50px;
          &.wide {
            max-width: 100%;
          }
        }

        &:last-child {
          margin-bottom: 182.5px;

          @media screen and (max-width: 1160px) {
            margin-bottom: 62px;
          }

          @media screen and (max-width: 960px) {
            margin-bottom: 186px;
          }
        }
      }

      img {
        height: auto;
        width: auto;
        max-height: 802px;
        max-width: 100%;
        right: -100px;
        position: relative;

        @media screen and (max-width: 1160px) {
          transform: scale(1.5);
          position: inherit;
        }

        @media screen and (max-width: 960px) {
          display: none;
        }
      }
    }
  }
}
