.container {
  display: flex;
  justify-content: center;
  max-width: 1263px;
  padding: 0 39px;
  padding-top: 72px;

  .links_wrapper {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      gap: 82px;
      align-items: center;
      width: 100%;

      &:nth-child(1) {
        padding-bottom: 141.12px;
      }

      &:nth-child(2) {
        gap: 110px;
        padding-bottom: 136.65px;
      }
    }
  }
}
