.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1268px;
  margin-bottom: 100px;
  padding-top: 173.5px;
  color: var(--font);

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 78.33px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 57.33px;
  }

  .title {
    font-size: 25px;

    @media screen and (max-width: 480px) {
      font-size: 16.66px;
    }
  }

  .links_wrppaer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;

    @media screen and (max-width: 1200px) {
      padding: 0px;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
    }

    .link {
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--hover);
      text-decoration: none;
    }

    .hover {
      color: var(--font);
    }
  }
}
