.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1268px;
  margin-bottom: 88px;
  padding-left: 100px;
  color: var(--font);

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 60px;
    width: auto;
    margin: 0 auto 88px;
    padding: 0;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-bottom: 66.33px;
  }

  .item {
    display: flex;
    gap: 50px;
    align-items: center;

    @media screen and (max-width: 480px) {
      gap: 33.33px;
    }

    .content {
      .info {
        margin-bottom: 12px;
        color: #939393;
        font-size: 15px;
        letter-spacing: 0.75px;

        @media screen and (max-width: 480px) {
          margin-bottom: 8px;
          font-size: 10px;
        }
      }

      .link {
        display: flex;
        gap: 34px;
        align-items: center;
        color: var(--font);
        font-size: 20px;
        font-family: Turbine-Bold, 'san-serif';
        text-decoration: none;

        @media screen and (max-width: 480px) {
          gap: 22.66px;
          font-size: 13.33px;
        }

        &:hover {
          color: var(--main-link-hover);
        }
      }
    }
  }
}
