@import 'styles/variables';
@import 'styles/mixins';

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 144px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-left: 15px;
}

.wrap_header {
  @include screen(md) {
    display: flex;
    justify-content: space-between;
  }
}

.wrap_header_inner {
  @include screen(maxMd) {
    text-align: center;
  }
}

.title {
  color: #fff;
  font-weight: 400;
  font-size: 76px;
  font-family: 'Monument Extended', sans-serif;
  font-style: normal;
  line-height: 1;
  text-align: center;
}

.sub_title {
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: -0.64px;
}
.text {
  margin-top: 24px;
  color: #b2b2b2;
  font-weight: 500;
  font-size: 20px;
  font-family: Gilroy;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.6px;
}

.content {
  margin-top: 100px;
}
