@import 'styles/variables';
@import 'styles/mixins';

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 144px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-left: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;

  @include screen(maxMd) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include screen(maxSm) {
    margin-bottom: 32px;
  }
}

.description {
  margin-right: 30px;
  max-width: 574px;
  color: #ffffff;

  @include screen(maxXl) {
    max-width: 45%;
  }

  @include screen(maxMd) {
    max-width: none;
  }
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  font-family: 'Monument Extended';
  font-style: normal;
  line-height: 72px;
  margin-bottom: 28px;

  background: var(
    --Gradient-P4,
    linear-gradient(90deg, #ffbaf3 0.29%, #fff1d4 49.4%, #8bf3fc 99.54%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include screen(maxSm) {
    margin-bottom: 16px;
  }
}

.text {
  color: #b2b2b2;
  font-family: 'Gilroy-Regular';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.72px;

  @include screen(maxLarge) {
    font-size: 20px;
  }
}

.stars {
  position: relative;
  width: 540px;
  animation: fadeIn 5s;

  @include screen(maxMd) {
    margin-bottom: 32px;
    width: fit-content;
  }

  @include screen(maxSm) {
    margin-bottom: 44px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.play {
  position: absolute;
  top: 60%;
  left: 0;
  cursor: pointer;

  @include screen(maxMd) {
    top: 82%;
    left: 50px;
  }

  @include screen(maxSm) {
    width: 70px;
    left: 25px;
  }
}

.button_group {
  margin: auto;
  max-width: fit-content;
  display: flex;
  padding: 8px;

  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: var(--Spacing-4, 16px);
  border: 2px solid #222;
  margin-bottom: 56px;

  @include screen(maxMd) {
    display: flex;
    flex-wrap: wrap;
  }
}

.button_group li {
  display: flex;
  gap: 8px;
  padding: 16px 24px;
  color: var(--Neutrals-Gray-300, #808080);
  text-align: center;
  font-family: 'Gilroy-Regular';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: lowercase;
  cursor: pointer;

  @include screen(maxSm) {
    width: 100%;
  }

  &:hover {
    color: var(--Primary-Black, #000);
    border-radius: var(--Spacing-2, 8px);
    background: var(
      --Gradient-P0,
      linear-gradient(262deg, #ffbaf3 11.2%, #fff1d4 50.33%, #8bf3fc 90.29%)
    );
  }
}

.jobs_title {
  color: #fff;
  text-align: center;
  font-family: 'MonumentExtended-Regular';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin-bottom: 56px;

  &__empty {
    margin-bottom: 24px;
  }

  @include screen(maxSm) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.jobs_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;

  @include screen(maxXl) {
    justify-content: center;
    gap: 16px;
  }
}

.subtitle {
  color: #b2b2b2;
  text-align: center;
  font-family: 'Gilroy-Regular';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.72px;
}

.no_jobs {
  flex-direction: column;
  gap: 32px;
  min-height: 280px;
}

.link {
  cursor: pointer;
  padding: 20px 24px;
  border-radius: 13.5px;
  background: #1c1c1d;
  color: #fff;
  font-family: 'IBMPlexMono-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 13.5px;
  letter-spacing: -0.48px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}
