.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in;
  max-width: 1547px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 507.75px;

  @media screen and (max-width: 1920px) {
    padding: 90px 188.25px;
  }

  @media screen and (max-width: 1440px) {
    padding: 67px 151px;
  }

  @media screen and (max-width: 680px) {
    padding: 16px 24px;
  }

  &.hidden {
    transform: translateY(-170%);
    transition: transform 0.3s ease-in;
  }

  &.bg {
    backdrop-filter: saturate(180%) blur(20px);
  }

  .peerLogo {
    width: 210px;

    @media screen and (max-width: 1440px) {
      width: 158px;
    }

    @media screen and (max-width: 680px) {
      width: 98.3px;
    }
  }
}