//MonumentExtended
@font-face {
  font-family: 'MonumentExtended-Regular';
  font-style: normal;
  src: url('./MonumentExtended-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'MonumentExtended-Bold';
  font-style: normal;
  src: url('./MonumentExtended-Ultrabold.otf') format('opentype');
  font-display: swap;
}
