:root {
  --font: #000000;
  --bg: #fff;
  --avaliable: #62c31c;
  --unavaliable: #f62e2e;
  --error: #d55f97;
  --link: #00d3f9;
  --avaliableDomenbg: #f4f4f5;
  --main-font: #000;
}

.dark {
  --font: #fff;
  --bg: #000;
  --main-font: #fff;
  --main-font-hover: rgba(255, 255, 255, 0.3);
  --avaliableDomenbg: #000;
  --main-border: #2e2e2e;
}
