@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('fonts/PPMonumentExtended-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('fonts/PPMonumentExtended-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('fonts/PPMonumentExtended-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('fonts/PPMonumentExtended-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}