.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  padding: 133px 40px 32px 40px;
  background: var(--bg);

  @media screen and (max-width: 1560px) {
    padding: 86.4px 48.75px 32px 48.75px;
  }

  @media screen and (max-width: 1270px) {
    padding: 62.75px 36.69px 32px 36.69px;
  }

  @media screen and (max-width: 680px) {
    padding: 90px 48px 32px 48px;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 920px;
    }

    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 420px;
      max-height: 420px;
      position: relative;

      @media screen and (max-width: 680px) {
        max-width: 310px;
        max-height: 310px;
      }

      video {
        width: 100%;
        height: 100%;
      }

      img {
        position: absolute;
        z-index: 2;
      }
    }
  }
}

.largeLink {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;

  img {
    height: 18px;
  }
}

.gradientLink {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 6px;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(
    75deg,
    #ffffff 43.62%,
    #fefba1 3%,
    #eaa6d7 54.29%,
    #b6aaf6 73.65%,
    #8ffff1 88.44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;

  hr {
    height: 1px;
    width: calc(100% + 36px);
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0 -15px 32px -21px;

    @media screen and (max-width: 680px) {
      margin: 0 0 22px 0;
      width: 100%;
    }
  }
}

.links_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  @media screen and (max-width: 680px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    margin-bottom: 32px;
  }
}
