@import 'styles/variables';

.wrapper {
  overflow: hidden;
  display: flex;
  padding: 151px 0px;
  background: var(--bg);

  @media screen and (max-width: 680px) {
    padding: 100px 0px 0px;
    min-height: auto;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 940px;

      @media screen and (max-width: 1020px) {
        width: 90%;
      }
      @media screen and (max-width: 680px) {
        width: 100%;
      }
    }
  }
}

.largeLink {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  img {
    height: 18px;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: translateX(12px);
  }
}

.gradientLink {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 6px;
  cursor: pointer;

  span {
    background: var(--gradient-p-0);
    background-size: 200% 200%;
    animation: gradientAnimation 2s ease infinite;
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: translateX(12px);
  }
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 680px) {
    max-width: 300px;
  }

  hr {
    height: 1px;
    width: calc(100% + 36px);
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0 -15px 22px -21px;

    @media screen and (max-width: 680px) {
      display: none;
    }
  }
}

.links_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  @media screen and (max-width: 680px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    margin-bottom: 32px;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 420px;
  position: relative;
  margin-bottom: 95px;

  @media screen and (max-width: 680px) {
    margin-bottom: 50px;
    max-width: 340px;
    max-height: 340px;
  }

  video {
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    z-index: 2;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
