.title {
  color: red;
  padding: 400px 0 40px;
  font-family: Graphik-Medium;
  font-size: 120px;
  font-weight: 500;
  letter-spacing: -6px;
  text-align: center;
  color: #202020;
  margin-bottom: 80px;
  @media screen and (max-width: 1200px) {
    font-size: 9vw;
    letter-spacing: normal;
  }
}
.video_link {
  font-family: Graphik-Regular;
  font-size: 26px;
  color: #000;
  text-align: center;
  margin-bottom: 300px;
  &:hover {
    cursor: pointer;
  }
  &:hover > .arrow {
    left: 20px;
  }
  .arrow {
    margin-left: 12px;
    position: relative;
    left: 0;
    transform: rotate(180deg);
    vertical-align: middle;
    width: 24px;
    transition: left 0.2s;
  }
}
.content_wrapper {
  height: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    font-family: Graphik-Light;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #000;
  }
}
.section_container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  .quote_section_wrapper {
    background-color: #fafafa;
    margin-left: 300px;
    width: 100%;
    max-width: 1608px;
    @media screen and (max-width: 1900px) {
      margin-left: 0px;
    }
    .quote_section {
      position: relative;
      display: flex;
      left: -150px;
      padding: 200px 0;
      @media screen and (max-width: 1900px) {
        flex-direction: column;
        left: 0;
        align-items: center;
        gap: 150px;
      }
      .quote {
        width: 50%;
        font-family: Graphik-Light;
        font-size: 100px;
        font-weight: 300;
        font-style: italic;
        line-height: 1.1;
        text-align: left;
        color: #202020;
        @media screen and (max-width: 1900px) {
          width: 80%;
        }
        @media screen and (max-width: 1024px) {
          font-size: 50px;
        }
      }
      .text_container {
        width: 50%;
        @media screen and (max-width: 1900px) {
          width: 80%;
        }
        .header_wrapper {
          border-bottom: 1.5px solid #111;
          font-family: Graphik-Regular;
          font-size: 28px;
          font-weight: 300;
          letter-spacing: -1.4px;
          text-align: left;
          color: #202020;
          padding: 0 0 68px 50%;
          .name {
          }
          .position {
          }
        }
        .text {
          font-family: Graphik-Light;
          font-size: 30px;
          font-weight: 300;
          line-height: 1.33;
          text-align: justify;
          color: #636363;
          padding: 128px 70px 128px 187px;
          @media screen and (max-width: 1900px) {
            padding: 128px 0px;
          }
        }
      }
    }
  }
}

.asseen_wrapper {
  margin: 100px 0 500px;
}
.video-wrapper {
  width: 1000px;
  height: 500px;
}

.title {
  color: red;
  padding: 400px 0 40px;
  font-family: Graphik-Medium;
  font-size: 120px;
  font-weight: 500;
  letter-spacing: -6px;
  text-align: center;
  color: #202020;
  margin-bottom: 80px;
  @media screen and (max-width: 1200px) {
    font-size: 9vw;
    letter-spacing: normal;
  }
}
.video_link {
  font-family: Graphik-Regular;
  font-size: 26px;
  color: #000;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  &:hover > .arrow {
    left: 20px;
  }
  .arrow {
    margin-left: 12px;
    position: relative;
    left: 0;
    transform: rotate(180deg);
    vertical-align: middle;
    width: 24px;
    transition: left 0.2s;
  }
}
.content_wrapper {
  height: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    font-family: Graphik-Light;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #000;
  }
}
