.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 150px 29px;
  flex-wrap: wrap;
  padding-left: 58px;

  @media screen and (max-width: 1160px) {
    padding: 150px 0px;
  }

  @media screen and (max-width: 680px) {
    padding: 35.66px 0px;
    gap: 29.66px;
  }

  .block {
    display: flex;
    gap: 30px;
    font-size: 14px;

    @media screen and (max-width: 680px) {
      width: 100%;
      font-size: 9.33px;
      line-height: 2.5;

      &:first-child {
        justify-content: space-between;
      }
    }

    .link {
      color: #ccc;

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
}
