.section {
  width: 100%;
  padding: 0 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1160px) {
    padding: 0;
  }

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 60px 20%;
    justify-content: flex-start;
  }

  @media screen and (max-width: 485px) {
    gap: 60px;
  }

  .link {
    @media screen and (max-width: 485px) {
      flex-basis: calc(50% - 30px);
    }

    .logo_image {
      width: 155px;
      transition: all 0.3s;

      &.hovered {
        opacity: 60%;
      }
    }
  }
}
