.main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;

  .relative {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
