.container {
  padding: 80px 0;
  border-bottom: 1px solid #252525;
  overflow: hidden;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    max-width: 500px;
  }

  .title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 53px;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  .content {
    font-size: 15px;
    line-height: 1.67;
    text-align: center;
    color: #fff;
    max-width: 725px;
    margin: 0 auto 70px;
    @media screen and (max-width: 768px) {
      font-size: 10px;
    }
  }

  .icons_container {
    display: flex;
    justify-content: center;
    gap: 60px;

    @media screen and (max-width: 768px) {
      justify-content: space-around;
      gap: unset;
    }

    .sn_wrapper {
      min-width: 50px;
      cursor: pointer;
      &:hover > .name {
        color: #ffffff;
        cursor: pointer;
      }

      .icon_border {
        width: 60px;
        height: 70px;
        border: 1px solid #252525;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 16px;
        &:hover {
          border: 1px solid #ffffff;
        }
        @media screen and (max-width: 768px) {
          width: 40px;
          height: 47px;
        }
        img {
          @media screen and (max-width: 768px) {
            transform: scale(0.6);
          }
        }
      }
      .name {
        font-size: 16px;
        text-align: center;
        color: #545454;
        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }
}
