.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--font);
  font-family: Turbine-Medium, sans-serif;
  text-align: center;
  padding-top: calc(100vh/9);

  .content_container {
    width: 100%;
    text-align: left;
  }

  .header {
    margin-bottom: 62px;
    font-weight: bold;
    font-size: 60px;

    @media screen and (max-width: 600px) {
      margin-bottom: 38.33px;
      font-size: 40px;
    }
  }

  .content {
    max-width: 490px;
    margin-bottom: 80px;
    color: #a2a2a2;
    font-size: 25px;

    .domain_name {
      color: var(--font)
    }

    @media screen and (max-width: 600px) {
      margin-bottom: 55.33px;
      font-size: 16.66px;
    }
  }
}
