.section {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.video-wrapper {
  overflow: hidden;
  padding: 56% 0 0;
  position: relative;

  iframe,
  .video,
  video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
