@font-face {
  font-weight: 300;
  font-family: 'Monument Extended';
  font-style: normal;
  src: url(./PPMonumentExtended-Light.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Monument Extended';
  font-style: normal;
  src: url(./PPMonumentExtended-Regular.otf) format('opentype');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Monument Extended';
  font-style: normal;
  src: url(./PPMonumentExtended-Black.otf) format('opentype');
  font-display: swap;
}
