.container {
  display: flex;
  justify-content: center;
  max-width: 1263px;
  padding: 0 39px;
  padding-top: 72px;

  @media screen and (max-width: 768px) {
    padding: 58.84px 24px 85.94px 21px;
  }

  .links_wrapper {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      gap: 82px;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 768px) {
        gap: 44px 22.26px;
      }

      &:nth-child(1) {
        padding-bottom: 141.12px;

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          max-width: 332px;
          padding: 0;
        }
      }

      &:nth-child(2) {
        gap: 110px;
        padding-bottom: 136.65px;

        @media screen and (max-width: 768px) {
          padding: 0;
        }
      }
    }
  }
}
