.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1263px;
  margin-bottom: 54px;
  padding: 0 39px;
  border-bottom: 1px solid #333;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 34px;
    padding: 0 30px 0 21px;
    border-bottom: 0;
  }

  h1 {
    max-width: 457px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 76px;
    font-family: MonumentExtended-Regular, sans-serif;
    font-style: normal;
    line-height: 76px; /* 100% */

    @media screen and (max-width: 768px) {
      max-width: 270px;
      padding-bottom: 34px;
      font-size: 44px;
      line-height: 52px; /* 100% */
    }
  }

  .content {
    width: 100%;
    max-width: 547px;
    margin-right: -119px;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin-right: 0;
    }

    h2 {
      margin: 0;
      padding-bottom: 24px;
      color: #fff;
      font-weight: 400;
      font-size: 32px;
      font-family: Gilroy-Regular, sans-serif;
      font-style: normal;
      line-height: 38px; /* 118.75% */
      letter-spacing: -0.64px;

      @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 30px; /* 125% */
        letter-spacing: -0.48px;
      }
    }

    p {
      margin: 0;
      padding-bottom: 40px;
      color: #b2b2b2;
      font-weight: 400;
      font-size: 20px;
      font-family: Gilroy-Regular, sans-serif;
      font-style: normal;
      line-height: 24px; /* 120% */

      @media screen and (max-width: 768px) {
        padding: 0;
        font-size: 20px;
        line-height: 24px; /* 120% */
      }
    }
  }
}
