.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1263px;
  margin-bottom: 54px;
  padding: 0 39px;
  border-bottom: 1px solid #333;

  h1 {
    max-width: 457px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 76px;
    font-family: MonumentExtended-Regular, sans-serif;
    font-style: normal;
    line-height: 76px; /* 100% */
  }

  .content {
    width: 100%;
    max-width: 547px;
    margin-right: -119px;

    h2 {
      margin: 0;
      padding-bottom: 24px;
      color: #fff;
      font-weight: 400;
      font-size: 32px;
      font-family: Gilroy-Regular, sans-serif;
      font-style: normal;
      line-height: 38px; /* 118.75% */
      letter-spacing: -0.64px;
    }

    p {
      margin: 0;
      padding-bottom: 40px;
      color: #b2b2b2;
      font-weight: 400;
      font-size: 20px;
      font-family: Gilroy-Regular, sans-serif;
      font-style: normal;
      line-height: 24px; /* 120% */
    }
  }
}
