.menu {
  display: flex;
  flex-direction: column;
  gap: 45.5px;
  margin-top: 170px;

  .item {
    position: relative;

    a {
      color: #fff;
      font-weight: normal;
      font-size: 120px;
      font-family: IBMPlexMono-Regular, sans-serif;
      line-height: 88px;
      text-transform: uppercase;

      &:after {
        position: absolute;
        top: 0;
        right: -67px;
        width: 0;
        height: 3px;
        background-color: hsl(0, 0%, 100%);
        opacity: 0;
        transition: 0.3s ease-in;
        content: '';
      }

      &:hover {
        text-decoration: none;

        &:after {
          right: 0;
          width: 67px;
          opacity: 1;
        }
      }
    }
  }
}
