.menu {
  display: flex;
  flex-direction: column;
  gap: 45.5px;
  margin-top: 170px;
  padding: 0 110.5px;

  @media screen and (max-width: 768px) {
    gap: 18px;
    margin-top: 129px;
    padding: 0 18.66px;
  }

  .item {
    position: relative;

    a {
      color: #fff;
      font-weight: normal;
      font-size: 120px;
      font-family: IBMPlexMono-Regular, sans-serif;
      line-height: 88px;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: 40px;
        line-height: 30px;
      }

      &:after {
        position: absolute;
        top: 0;
        right: -67px;
        width: 0;
        height: 3px;
        background-color: hsl(0, 0%, 100%);
        opacity: 0;
        transition: 0.3s ease-in;
        content: '';

        @media screen and (max-width: 768px) {
          top: 14px;
          right: -44.66px;
          height: 2px;
        }
      }

      &:hover {
        text-decoration: none;

        &:after {
          right: 0;
          width: 67px;
          opacity: 1;

          @media screen and (max-width: 768px) {
            width: 44.66px;
          }
        }
      }
    }
  }
}
