.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 45.5px;
  margin-top: 370px;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 67px;
    height: 3px;
    background-color: #fff;
    content: '';
  }

  a {
    color: #fff;
    font-weight: normal;
    font-size: 120px;
    font-family: IBMPlexMono-Regular, sans-serif;
    line-height: 88px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}
