//IBMPlexMono
@font-face {
  font-family: 'IBMPlexMono-Bold';
  font-style: normal;
  src: url('./IBMPlexMono-Bold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-BoldItalic';
  font-style: normal;
  src: url('./IBMPlexMono-BoldItalic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-ExtraLight';
  font-style: normal;
  src: url('./IBMPlexMono-ExtraLight.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-ExtraLightItalic';
  font-style: normal;
  src: url('./IBMPlexMono-ExtraLightItalic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Italic';
  font-style: normal;
  src: url('./IBMPlexMono-Italic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Light';
  font-style: normal;
  src: url('./IBMPlexMono-Light.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-LightItalic';
  font-style: normal;
  src: url('./IBMPlexMono-LightItalic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Medium';
  font-style: normal;
  src: url('./IBMPlexMono-Medium.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-MediumItalic';
  font-style: normal;
  src: url('./IBMPlexMono-MediumItalic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  font-style: normal;
  src: url('./IBMPlexMono-Regular.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-SemiBold';
  font-style: normal;
  src: url('./IBMPlexMono-SemiBold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-SemiBoldItalic';
  font-style: normal;
  src: url('./IBMPlexMono-SemiBoldItalic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-Thin';
  font-style: normal;
  src: url('./IBMPlexMono-Thin.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono-ThinItalic';
  font-style: normal;
  src: url('./IBMPlexMono-ThinItalic.ttf') format('opentype');
  font-display: swap;
}
