.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-in;
  &.hidden {
    transform: translateY(-170%);
    transition: transform 0.3s ease-in;
  }
  &.bg {
    backdrop-filter: saturate(180%) blur(20px);
  }
  .main_container {
    width: 100%;
    // max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    padding: 18px 41px 18px 31.5px;

    @media screen and (max-width: 1540px) {
      // max-width: calc(100% - 40px);
    }

    @media screen and (max-width: 1160px) {
      // padding-left: 0;
    }

    @media screen and (max-width: 680px) {
      padding: 12.5px 0;
      padding-right: 0px;
      height: 60px;
    }

    .left_container {
      display: flex;
      align-items: center;

      .logo_container {
        margin-right: 24px;
        display: flex;
      }

      .select_container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .select_title {
          font-family: Turbine-Semibold, sans-serif;
          font-size: 16.25px;
          color: var(--main-font);
          margin-right: 6px;
        }

        .arrow {
          display: flex;
          padding-top: 3px;
        }
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      max-width: 500px;
      padding: 0 15px;
    
      .nav_item {
        position: relative;
        font-family: Turbine-Medium, sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.9px;
        color: var(--main-font);
        text-decoration: none;
        transition: .3s;
        line-height: 45px;
        cursor: pointer;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--main-font-hover);
          transition: width .3s;
        }

        &:hover {
          color: var(--main-font-hover);

          .nav_list {
            display: flex;
          }

          &:after {
            width: 100%;
          }
        }

        .nav_list {
          position: absolute;
          display: none;
          flex-direction: column;
          border-radius: 10px;
          padding: 9.5px 33px 25.5px 33px;
          border: 1px solid var(--main-border);
          background-color: var(--bg);
          top: 100%;
          left: -33px;
          min-width: 255px;

          a {
            line-height: 13px;
            font-family: Turbine-Light, sans-serif;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.8px;
            color: var(--main-font);
            padding: 22.5px 0 17.5px 0;
            white-space: nowrap;
            text-decoration: none;

            &:not(:last-child) {
              border-bottom: 1px solid var(--main-border);
            }

            &:hover {
              color: var(--link);
            }
          }
        }
      }
    }

    .right_container {
      display: flex;
      align-items: center;

      .text_link {
        font-family: Turbine-Regular, sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: var(--main-font);
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--main-font);
          transition: width .3s;
        }

        &:hover::after {
          width: 100%;
        }
      }

      .theme_selector {
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 36px;
        cursor: pointer;
      }

      .button {
        width: 162.5px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--main-font);
        font-family: Turbine-Bold, sans-serif;
        font-size: 16.25px;
        color: var(--bg);
        margin-right: 76px;
        white-space: nowrap;
        cursor: pointer;
        margin-right: 36px;
      }

      .flag_button {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid .5px #0096ff;
        cursor: pointer;

        .flag_icon {
          overflow: hidden;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          
          .icon {
            width: auto;
            height: 27px;
            transform: translateX(-15%);
          }
        }
      }
    }
  }
}


      
