.share {
  width: 100%;
  max-width: 912px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 0 48px 0;

  @media screen and (max-width: 1440px) {
    max-width: 760px;
    padding: 31.5px 0 36px 0;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 20px 0 24px 0;
  }

  .text {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: IBMPlexMono, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    @media screen and (max-width: 1440px) {
      font-size: 13.5px;
      line-height: 13.5px;
    }

    @media screen and (max-width: 900px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .actions {
    display: flex;
    gap: 24px;

    @media screen and (max-width: 1440px) {
      gap: 18px;
    }

    @media screen and (max-width: 900px) {
      gap: 20px;
      width: 100%;
    }

    .shareItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      border-radius: var(--Spacing-3, 12px);
      border: 1.5px solid rgba(255, 186, 243, 0.19);
      background: linear-gradient(
        262deg,
        rgba(255, 186, 243, 0.1) 11.2%,
        rgba(255, 241, 212, 0.1) 50.33%,
        rgba(139, 243, 252, 0.1) 90.29%
      );
      backdrop-filter: blur(16.5px);

      @media screen and (max-width: 1440px) {
        width: 54px;
        height: 54px;
        border-radius: 9px;
        backdrop-filter: blur(12.375px);
      }

      @media screen and (max-width: 900px) {
        width: 64px;
        height: 64px;
        border-radius: 16px;
        backdrop-filter: blur(22px);
      }

      img {
        max-width: 24px;
        max-height: 24px;
        width: auto;
        height: auto;

        @media screen and (max-width: 1440px) {
          max-width: 18px;
          max-height: 18px;
        }

        @media screen and (max-width: 900px) {
          max-width: 32px;
          max-height: 32px;
        }
      }
    }
  }
}
