.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: fit-content;
  padding: 25px 45.5px 185px 33.5px;

  @media screen and (max-width: 821px) {
    padding: 25px 45.5px 60px 33.5px;
    margin: 0;
    width: 100%;

  }

  .topRow {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    max-width: 1080px;
    width: 100%;
    gap: 50px;

    @media screen and (max-width: 821px) {
      gap: 0;
      flex-direction: column;
      max-width: 100%;
      width: 100%;
    }

    .listItem {
      width: 180px;
      display: flex;
      flex-direction: column;
      font-family: Gilroy-Medium, sans-serif;
      font-size: 16px;
      line-height: 1.33;
      color: #a1a2a3;

      @media screen and (max-width: 821px) {
        width: 100%;
      }

      .title {
        font-family: Gilroy-Bold, sans-serif;
        font-size: 18px;
        color: #c7c7c7;
        white-space: nowrap;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      ul {
        max-height: 1000px;
        overflow: hidden;
        transition: all 0.5s;
        @media screen and (max-width: 821px) {
          max-height: 0;
          margin-bottom: 20px;
          padding-left: 0;
        }
      }

      .link {
        text-decoration: none;
        color: var(--main-font);;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.15s ease;
        width: 100%;

        &:hover {
          transform: scale(1.01);
          font-family: Gilroy-SemiBold, sans-serif;
          color: var(--link);
        }  

        @media screen and (max-width: 821px) {
          margin-bottom: 20px;
        }
      }

      .active {
        max-height: 600px;
        transition: all 0.5s;
        padding-left: 30px;
      }
    }
  }

  .bottomRow {
    display: flex;
    gap: 160px;
    font-family: Gilroy-SemiBold, sans-serif;
    font-size: 13px;
    line-height: 1.54;
    color: #a1a2a3;
    transition: all 0.15s ease; 
    max-width: 1080px;
    width: 100%;

    @media screen and (max-width: 821px) {
      gap: 21px;
      flex-direction: column;
    }

    span, a{
      text-decoration: none;
      padding: 0 5px;
      color: #a1a2a3;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        font-family: Gilroy-SemiBold, sans-serif;
        color: var(--link);
      } 
    }
  }
}
