.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  color: white;

  &-lang {
    font-family: Graphik, Sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 7px;

    @media screen and (max-width: 680px) {
      font-size: 9.33px;
      line-height: 2.5;
    }
  }

  &-icon {
    width: 30px;
    height: auto;
    margin-right: 8px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1324px) {
      width: 14px;
      margin-right: 8px;
    }
  }

  .down-icon {
    padding-top: 2px;
    width: 6px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    @media screen and (max-width: 680px) {
      padding-top: 0;
    }

    &.active {
      transform: scaleY(-1);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .dropdown_content {
    position: absolute;
    left: 0px;
    width: 167px;
    z-index: 12;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    border: solid 1px #5d5d5d;
    background-color: black;
    color: white;

    @media screen and (min-width: 1325px) {
      top: calc(100% + 10px);
    }

    @media screen and (max-width: 1324px) {
      bottom: calc(100% + 10px);
    }

    span {
      display: flex;
      font-size: 16px;
      font-weight: normal;
      align-items: center;
      margin: 0 0 21px;

      &:last-child {
        margin: 0;
      }

      &:hover,
      &.active {
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 1324px) {
    font-family: Graphik, Sans-serif;
    font-size: 17.5px;
    font-weight: 500;
  }

  @media screen and (max-width: 640px) {
    font-family: Graphik, Sans-serif;
    font-size: 10.5px;
    font-weight: normal;
  }

  &:hover {
    cursor: pointer;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-box {
      max-width: 600px;
      width: 100%;
      color: #221f20;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 14px;
    }
  }

  .about-logo {
    display: inline-flex;
    width: 64px;
    transition: 0.3s all;
    font-family: Graphik, Sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #000;
    text-transform: lowercase;

    &-dark {
      opacity: 0;
    }

    img {
      width: 100%;
    }
  }
}
