.section {
  padding-top: 100px;
}
.sub_title {
  margin-bottom: 86px;
  color: rgba(150, 150, 150, 0.9);
  font-size: 30px;
  font-family: IBMPlexMono-Regular, sans-serif;
  line-height: 2.33;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 46px;
    font-size: 15px;
  }
}

.title {
  color: #fff;
  font-weight: 400;
  font-size: 160px;
  font-family: Gilroy-Medium, sans-serif;
  line-height: 0.94;
  text-align: center;

  span {
    font-family: Gilroy-MediumItalic, sans-serif;
  }

  @media screen and (max-width: 1200px) {
    font-size: 90px;
  }

  @media screen and (max-width: 768px) {
    font-size: 60px;
  }
}
