@import 'src/styles/variables';

.wrapper {
  .menu {
    display: none;
    background-color: var(--bg);
    padding-top: 48px;

    &_open {
      position: absolute;
      top: 67.66px;
      left: 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 67.66px);
      width: 100%;
    }
  }
}
