.progress_container {
  width: 100%;
  height: 50px;
  background-color: #f0f1f4;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding-left: 2.5px;
  .progress_bar {
    width: 18%;
    height: 45px;
    border-radius: 25px 4px 4px 25px;
    background-image: linear-gradient(to right, #eca6d6, #3546c5);
  }
  .thumb_soft {
    position: absolute;
    width: 2px;
    height: 54px;
    background-color: white;
    top: -4px;
  }
}
.markers_container {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  .soft_container {
    position: absolute;
  }
  .hard_container {
    position: absolute;
  }
  .marker_title {
    font-family: Graphik-Medium;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .marker_value {
    font-family: Graphik-Regular;
    font-size: 15px;
    color: #000;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}
