.container {
  position: relative;
  width: 100%;

  @media screen and (max-width: 1400px) {
    max-width: calc(100vw - 88px);
  }
  @media screen and (max-width: 600px) {
    max-width: calc(100vw - 88.66px);
  }

  .slider_wrapper {
    max-width: 3080px;

    .slider_item {
      margin-right: 88px;

      @media screen and (max-width: 600px) {
        margin-right: 58.66px;
      }
    }
  }
  .desktop_slider_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 440px;
    left: 540px
  }

  .mobile_slider_nav {
    position: absolute;
    bottom: 50%;
    z-index: 3;
    padding: 17px 22px;
    transform: translate(0, 50%);
    cursor: pointer;
    opacity: 0;
    @media screen and (max-width: 1400px) {
      left: 529px;
      opacity: 1;
    }
    @media screen and (max-width: 999px) {
      left: calc(100vw * 1.18 / 2.022);
    }
  }
}
