.separator {
  width: 100%;
  max-width: 912px;
  min-height: 1px;
  opacity: 0.5;
  background: var(
    --Glow-Gradient-Glow-Rose-Teal,
    linear-gradient(209deg, #8bf3fc 0%, rgba(139, 243, 252, 0.3) 51.07%, #fa7bd4 100%)
  );
  margin-bottom: 90px;

  @media screen and (max-width: 1440px) {
    max-width: 760px;
    margin-bottom: 67.5px;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 40px;
  }
}
