.separator {
  width: 100%;
  max-width: 912px;
  height: 1px;
  opacity: 0.5;
  background: var(
    --Glow-Gradient-Glow-Rose-Teal,
    linear-gradient(209deg, #8bf3fc 0%, rgba(139, 243, 252, 0.3) 51.07%, #fa7bd4 100%)
  );
  margin-bottom: 90px;
}
