@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-Italic';
  font-style: normal;
  src: url('./Gilroy-BlackItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  src: url('./Gilroy-Bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold-Italic';
  font-style: normal;
  src: url('./Gilroy-BoldItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-style: normal;
  src: url('./Gilroy-ExtraBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBoldItalic';
  font-style: normal;
  src: url('./Gilroy-ExtraBoldItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  src: url('./Gilroy-Heavy.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-HeavyItalic';
  font-style: normal;
  src: url('./Gilroy-HeavyItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  src: url('./Gilroy-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-LightItalic';
  font-style: normal;
  src: url('./Gilroy-LightItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  src: url('./Gilroy-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-MediumItalic';
  font-style: normal;
  src: url('./Gilroy-MediumItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  src: url('./Gilroy-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-RegularItalic';
  font-style: normal;
  src: url('./Gilroy-RegularItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  font-style: normal;
  src: url('./Gilroy-SemiBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-SemiBoldItalic';
  font-style: normal;
  src: url('./Gilroy-SemiBoldItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Thin';
  font-style: normal;
  src: url('./Gilroy-Thin.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ThinItalic';
  font-style: normal;
  src: url('./Gilroy-ThinItalic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-UltraLight';
  font-style: normal;
  font-style: normal;
  src: url('./Gilroy-UltraLight.otf') format('opentype');
  font-display: swap;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-UltraLightItalic';
  font-style: normal;
  src: url('./Gilroy-UltraLightItalic.otf') format('opentype');
  font-display: swap;
}
