.container {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 680px) {
    padding: 167.34px 0 0 0;
  }

  .title {
    font-size: 25px;
    line-height: 1.4;
    font-family: Graphik-Medium, sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0 0 51px 0;

    @media screen and (max-width: 680px) {
      line-height: 1.2;
      font-size: 33.33px;
      margin: 0 auto 59.71px auto;
      max-width: 300px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500.5px;

    .field {
      padding: 14px 14px;
      font-size: 20px;
      color: white;
      line-height: 1.75;
      font-family: Graphik-Semibold, sans-serif;
      font-weight: 500;
      border: 0;
      border-bottom: 1px solid #252525;
      margin: 0 0 14px 0;
      border-radius: 0;

      @media screen and (max-width: 680px) {
        line-height: 1.59;
        font-size: 14.66px;
        padding: 14.33px 10.66px;
      }

      &::placeholder {
        color: rgba($color: #fff, $alpha: 1);
        font-family: Graphik, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 2.19;
        transition: 0.3s;

        @media screen and (max-width: 680px) {
          line-height: 1.59;
          font-size: 14.66px;
        }
      }

      &:focus {
        border-color: #fff;

        &::placeholder {
          color: #fff;
        }
      }

      &.field_fill {
      }
    }

    .field__select {
      margin: 0 0 57px 0;

      @media screen and (max-width: 680px) {
        margin: 0 0 37.33px 0;

        img {
          width: 14px;
          max-width: 14px;
          left: -7px;
          position: relative;
        }
      }
    }

    .field__submit {
      padding: 0;
      height: 53.5px;
      border-radius: 10px;
      font-family: Graphik-Semibold, sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      border: 1px solid #fff;
      width: 100%;

      @media screen and (max-width: 680px) {
        line-height: 1;
        height: auto;
        font-size: 20px;
        padding: 17.66px 0;
        width: 100%;
      }
    }
  }
}
