.wrapper {
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 90px;
  border-radius: 10px;
  background-color: var(--Neutrals-Gray-500, #4C4C4C);
  display: flex;
  width: 74px;
  height: 58.28px;
  flex-direction: column;
  padding: 18px 24px;
  z-index: 10;

  @media screen and (max-width: 1920px) {
    left: 188.25px;
    top: 90px;
  }

  @media screen and (max-width: 1440px) {
    width: 56px;
    height: 45.13px;
    padding: 14px 18px;
    left: 151px;
    top: 67px;
  }

  @media screen and (max-width: 680px) {
    width: 50px;
    height: 40px;
    padding: 6.65px 15.97px;
    left: 24px;
    top: 11px;
  }

  &:hover {
    background-color: var(--Neutrals-Gray-500, #666);
    cursor: pointer;
  }
}