.section {
  width: 100%;
  padding: 180px 20px;
  color: #fff;
  
  @media screen and (max-width: 680px) {
    padding: 77.3px 20px;
  }

  .title {
    margin: 0 auto;
    max-width: 1320px;
    text-align: center;
    font-family: Turbine-Bold, sans-serif;
    font-size: 60px;
    color: #fff;
    margin-bottom: 144px;
    
    @media screen and (max-width: 680px) {
      font-size: 30px;
      margin-bottom: 51px;
    }
    
  }
  .cards_container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36.5px;
    margin-bottom: 232px;
    
    @media screen and (max-width: 980px) {
      justify-content: center;
      margin-bottom: 128.7px;
    }

    .item {
      display: flex;
      position: relative;
      justify-content: space-around;
      text-decoration: none;
      width: 48%;
      border: 1px solid #333;
      border-radius: 35px;
      padding: 57.5px 55px 55px 40px;

   

      @media screen and (max-width: 980px) {
        justify-content: center;
        width: 70%;
      }

      @media screen and (max-width: 680px) {
        justify-content: center;
        width: 100%;
        padding: 22.6px 20.7px;
      }

      &:hover {
        animation: noise 1s linear infinite;
        background: url('../../../../assets/team/noise.png');
        background-blend-mode: luminosity;
        background-color: #222;
      }

      .content_container {
        margin-right: 20px;
        max-width: 335px;
        .type {
          font-family: Turbine-Regular, sans-serif;
          font-size: 20px;
          margin-bottom: 16px;
          color: rgba(255, 255, 255, 0.43);
          
          @media screen and (max-width: 680px) {
            font-size: 10.7px;
            margin-bottom: 8.3px;
          }
        }
        .name {
          font-family: Turbine-Bold, sans-serif;
          font-size: 30px;
          color: #fff;
          margin-bottom: 34.5px;

          @media screen and (max-width: 680px) {
            font-size: 16px;
            margin-bottom: 18.3px;
          }
        }
        .content {
          font-family: Turbine-Regular, sans-serif;
          font-size: 18px;
          color: #939393;

          @media screen and (max-width: 680px) {
            font-size: 8px;
            margin-bottom: 18.3px;
          }
        }
      }

      .icon_wrapper {
        width: 115px;
        min-width: 115px;
        
        @media screen and (max-width: 680px) {
          width: 90px;
          min-width: 90px;
        }
        img {
          height: auto;
          margin: 0 auto;
          display: block;
          @media screen and (max-width: 680px) {
            transform: scale(0.6);
          }
        }
      }
    }
  }
  .join_container {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: Turbine-Regular, sans-serif;
      font-size: 50px;
      color: #fff;
      margin-bottom: 56.5px;
      
      @media screen and (max-width: 680px) {
        font-size: 30px;
        margin-bottom: 38.3px;
      }
    }

    .button {
      font-family: Turbine-Bold, sans-serif;
      font-size: 18px;
      letter-spacing: 3.6px;
      color: #000;
      text-transform: uppercase;
      width: 331.5px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
      border: solid 1px #000;
      background-color: #fff;
      cursor: pointer;
      
      @media screen and (max-width: 680px) {
        width: 221px;
        height: 40px;
        font-size: 12px;
        letter-spacing: 1.2px
      }
    }
  }
}

@keyframes noise {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}