.section {
  width: 100%;
  padding: 180px 20px;
  color: #fff;
  
  @media screen and (max-width: 680px) {
    padding: 77.3px 20px;
  }

  .title {
    margin: 0 auto;
    max-width: 1320px;
    text-align: center;
    font-family: Turbine-Bold, sans-serif;
    font-size: 60px;
    color: #fff;
    margin-bottom: 55px;
    
    @media screen and (max-width: 680px) {
      font-size: 30px;
      margin-bottom: 17px;
    }
    
  }
  .subtitle {
    margin: 0 auto;
    max-width: 1320px;
    text-align: center;
    font-family: Turbine-Regular, sans-serif;
    font-size: 25px;
    color: #939393;
    margin-bottom: 202.5px;
    
    @media screen and (max-width: 680px) {
      font-size: 16px;
      margin-bottom: 51px;
    }
    
  }
  .cards_container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6.5px;
    margin-bottom: 232px;
    
    @media screen and (max-width: 980px) {
      justify-content: center;
      margin-bottom: 128.7px;
    }

    .divider {
      background-color: #1f1f1f;

      @media screen and (max-width: 680px) {
        display: none;
      }
      &.horizontal {
        width: 100%;
        height: 1px;
        margin-bottom: 156px;
      }
      &.vertical {
        width: 1px;
        height: 200px;
      }
    }

    .card_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      width: 48%;
      border-radius: 35px;
      padding: 0px 55px;
      margin-bottom: 150px;

      @media screen and (max-width: 980px) {
   
      }

      @media screen and (max-width: 680px) {
        width: 100%;
        margin-bottom: 87px;
      }

      .content {
        font-family: Turbine-Regular, sans-serif;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: #939393;
        margin-bottom: 39px;
        max-width: 360px;

        @media screen and (max-width: 680px) {
          font-size: 12px;
          margin-bottom: 26px;
          line-height: 1.25;
        }
      }

      .item_link {
        display: block;
        text-decoration: none;
        width: 100%;
        max-width: 353px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 35px;
        border: solid 2px #333;
        background-color: #000;
        font-family: Turbine-Regular, sans-serif;
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        color: #939393;

        &:hover {
          animation: noise 1s linear infinite;
          background: url('../../../../assets/team/noise.png');
          background-blend-mode: luminosity;
          background-color: #222;
          color: #fff;
        }

        @media screen and (max-width: 680px) {
          max-width: 235px;
          height: 47px;
          font-size: 20px;
          border: solid 1.33px #333;
        }
      }


      .icon_wrapper {
        width: 115px;
        height: 55px;
        min-width: 115px;
        margin-bottom: 31px;
        
        @media screen and (max-width: 680px) {
          width: 90px;
          min-width: 90px;
          margin-bottom: 0px;
        }
        img {
          height: auto;
          margin: 0 auto;
          display: block;
          @media screen and (max-width: 680px) {
            transform: scale(0.9);
          }
        }
      }
    }
  }
  .join_container {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: Turbine-Regular, sans-serif;
      font-size: 50px;
      color: #fff;
      margin-bottom: 56.5px;
      
      @media screen and (max-width: 680px) {
        font-size: 30px;
        margin-bottom: 38.3px;
      }
    }

    .btn {
      display: block;
      box-sizing: border-box;
      padding: 16px 34.5px;
      color: var(--bg);
      font-weight: bold;
      font-family: Turbine-Bold, sans-serif;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      text-decoration: none;
      background-color: var(--font);
      border: 2px solid var(--font);
      border-radius: 60px;

      @media screen and (max-width: 680px) {
        font-size: 12px;
        letter-spacing: 1.2px;
        padding: 9.5px 33px;
      }

      &:hover {
        color: var(--font);
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

@keyframes noise {
  0% {
    background-position: 10% 0;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}