.section {
  width: 100%;
  max-width: 1320px;
  padding: 125.5px 0;

  @media screen and (max-width: 1320px) {
    padding: 80px 20px;
  }

  @media screen and (max-width: 600px) {
    padding: 52.66px 20px 73.33px;
  }

  .top {
    display: flex;
    gap: 131px;

    @media screen and (max-width: 1320px) {
      flex-direction: column;
      gap: 80px;
      align-items: center;
    }

    .quote {
      padding: 0 60px;
      color: #939393;
      font-size: 16px;
      line-height: 25px;
      text-align: center;

      @media screen and (max-width: 1320px) {
        max-width: 620px;
        padding: 0 34px;
        font-size: 10.3px;
        line-height: 16.66px;
      }
    }

    .video {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 620px;
      height: 330px;
      margin-bottom: 74.5px;
      background-color: var(--font);
      background-image: url('./tony.png');
      background-size: cover;
      border-radius: 20px;

      .play_icon_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
      }

      @media screen and (max-width: 1320px) {
        margin: 0 auto;
        margin-bottom: 33px;
        background-position: center;
      }
      @media screen and (max-width: 600px) {
        max-height: 187.66px;
      }
    }

    .description {
      max-width: 575px;
      .title {
        margin-bottom: 58px;
        color: var(--font);
        font-size: 40px;
        line-height: 50px;
        @media screen and (max-width: 600px) {
          margin-bottom: 60.33px;
          font-size: 26.66px;
          line-height: 33.33px;
        }
      }
      @media screen and (max-width: 600px) {
        padding-left: 20px;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #939393;
        font-size: 20px;
        line-height: 30px;

        @media screen and (max-width: 600px) {
          font-size: 16.66px;
          line-height: 23.33px;
        }
      }
    }
  }
}
