.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-out 0.2s;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

#theme {
  background-color: var(--bg);
}

/* 
.fadeup-enter {
  opacity: 0;
  transform: translate(0, 50px);
}
.fadeup-enter-active {
  opacity: 1;
  transform: translate(0, 0px);
  transition: all 0.5s ease-out 0.2s;
}
.fadeup-enter-done {
  opacity: 1;
}
.fadeup-exit {
  opacity: 1;
}
.fadeup-exit-active {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.2s ease-out;
}
*/