.main-container {
  min-height: 100vh;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // overflow: hidden;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
}
