.container {
  padding: 178px 0 117px;
  border-bottom: 1px solid #252525;
  gap: 30.5px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (max-width: 680px) {
    padding: 79px 0;
    // max-width: calc(100% - 70px);
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1600px) {
      align-items: center;
    }

    @media screen and (max-width: 1160px) {
      // flex-direction: column;
    }

    .col {
      display: flex;
      flex-direction: column;
      padding-left: 58px;

      @media screen and (max-width: 1600px) {
        min-width: 440px;
      }

      // @media screen and (max-width: 1160px) {
      //   padding-left: 0;
      // }

      @media screen and (max-width: 680px) {
        padding-left: 7px;
        min-width: 0;
      }

      .logo {
        margin-bottom: 50px;
        img {
          width: 62px;
          height: auto;
        }
        @media screen and (max-width: 680px) {
          margin-bottom: 28px;
          img {
            width: 35px;
          }
        }
      }

      .title {
        font-family: Graphik-Semibold, sans-serif;
        font-weight: 600;
        font-size: 60px;
        margin-bottom: 41px;
        line-height: 1;

        &.sm {
          font-size: 50px;
        }

        @media screen and (max-width: 680px) {
          max-width: 210px;
          font-size: 34px;
          margin-bottom: 24px;
          br {
            display: none;
          }
          &.sm {
            font-size: 34px;
          }
        }
      }

      .text {
        font-family: Graphik-Regular, sans-serif;
        margin-bottom: 52px;
        line-height: 1.6;
        font-size: 20px;
        max-width: 562px;

        &.mb1 {
          margin-bottom: 35.5px;
        }

        @media screen and (max-width: 680px) {
          font-size: 14px;
          margin-bottom: 20px;
          max-width: 200px;
          &.text_wide {
            max-width: 320px;
            margin-bottom: 30px;
          }
        }

        &:last-child {
          margin-bottom: 182.5px;

          @media screen and (max-width: 1160px) {
            margin-bottom: 62px;
          }
        }
      }
      .button_wrapper {
        border-radius: 22.5px;
        overflow: hidden;
        margin-bottom: 85.5px;
        @media screen and (max-width: 680px) {
          margin-bottom: 74px;
        }
        .button_blue {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 280px;
          height: 55px;
          border-radius: 22.5px;
          background-color: #006fff;
          font-family: Graphik-Semibold, sans-serif;
          font-weight: 500;
          font-size: 18px;
          color: #fff;
          text-decoration: none;
          @media screen and (max-width: 680px) {
            width: 190px;
            height: 38px;
            font-size: 12.5px;
          }
          .arrow {
            width: 22.5px;
            height: auto;
            margin-left: 18.5px;
            display: flex;
            align-items: center;
            img {
              width: 100%;
            }
          }
        }
      }
      .link {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: Graphik-Medium, sans-serif;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        @media screen and (max-width: 680px) {
          font-size: 15px;
        }
        &:hover .chevron {
          transform: translateX(100%);
        }
        .chevron {
          width: 9px;
          height: auto;
          margin-left: 17px;
          display: flex;
          align-items: center;
          transition: all .3s;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
