.root {
  color: #fff;
  padding: 0;
  .arrow {
    width: 18px;
    height: 18px;
  }

  .accordion {
    box-shadow: none;
    padding: 7px 0;
    min-height: 48px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    color: #fff;
    font-family: Graphik-Regular;
    font-size: 17.33px;
    line-height: 1.54;

    @media screen and (max-width: 480px) {
      padding: 0;
    }

    .rounded:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .accordion-summary {
      color: #6b91cc;
      font-family: Graphik-SemiBold, sans-serif;
      font-size: 23.33px;
      font-weight: 600;
      margin: 0 0 24px 0;
      padding: 0;
    }
    .accordion-content {
      margin: 0;
    }

    .expanded {
      font-family: Graphik-Medium, sans-serif;
      transition: none;
      min-height: 48px;
      margin-top: 0;
      margin-bottom: 0;
      align-items: center;
      color: #6b91cc;
      .expand-icon {
        transform: rotate(90deg);
        transition: all 0.2s ease;
      }
    }
  }
  .accordion-details {
    padding: 0;
  }
}
