.involved {
  display: flex;
  flex-direction: column;
  gap: 55.5px;
  align-items: center;
  justify-content: center;
  padding: 427.5px 0;

  @media screen and (max-width: 1900px) {
    padding: 200px 0;
  }

  @media screen and (max-width: 768px) {
    gap: 38.33px;
    padding: 89px 0;
  }

  .title {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    font-family: Gilroy-Regular;
    line-height: 48px;

    @media screen and (max-width: 768px) {
      font-size: 26.66px;
      line-height: 26px;
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 331.5px;
    height: 60px;
    color: #000;
    font-size: 18px;
    font-family: IBMPlexMono, sans-serif;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
      max-width: 221px;
      height: 40px;
      font-size: 12px;
      letter-spacing: 1.2px;
      border-radius: 3.33px;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: black;
      border-color: #fff;
      cursor: pointer;
    }
  }
}
