.container {
  @media screen and (max-width: 680px) {
    display: block;
  }

  .burger {
    cursor: pointer;
    .burger_img {
      width: 33px;
    }
  }
}

.opened {
  display: none;
  @media screen and (max-width: 680px) {
    display: flex;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$s: 2px;

.burger-wrapper {
  display: block;
  width: $s * 10;
  height: $s * 8;
  margin: auto;
  cursor: pointer;

  .hamburger {
    position: relative;
    width: $s * 10;
    height: $s;
    background: white;
    transform: translateY($s * 4);
    transition: background 10ms 300ms ease;

    &:before,
    &:after {
      position: absolute;
      width: $s * 10;
      height: $s;
      background: white;
      transition: top 300ms 350ms ease, transform 300ms 50ms ease;
      content: '';
    }
    &:before {
      top: $s * -3;
    }

    &:after {
      top: $s * 3;
    }
  }
}

.menu-trigger {
  pointer-events: none;
}

.menu-trigger-open {
  ~ .burger-wrapper {
    .hamburger {
      background: transparent;
      &:after,
      &:before {
        top: 0;
        transition: top 300ms 50ms ease, transform 300ms 350ms ease;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.hidden {
  display: none;
}
