@import '../../../styles/variables';

.wrapper {
  .menu {
    display: none;
    background-color: var(--bg);
    width: calc(100% - 30.66px);
    padding-top: 48px;

    &_open {
      position: absolute;
      top: 67.66px;
      left: 15.33px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .menu__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .dropdown_wrapper {
      width: 100px;
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
}
